<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chuyển đổi Giọng nói và Văn bản</title>
</head>
<body>
    <h1>Chuyển đổi Giọng nói thành Văn bản</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".mp3,.wav,.m4a">
        <input type="submit" value="Chuyển đổi">
    </form>
    
    {% if result %}
    <h2>Kết quả:</h2>
    <p>{{ result }}</p>
    {% endif %}

    <h1>Chuyển đổi Văn bản thành Giọng nói</h1>
    <form method="post" action="{{ url_for('convert_text_to_speech') }}">
        <textarea name="text" rows="4" cols="50" required></textarea>
        <br>
        <label for="voice">Giọng đọc:</label>
        <select name="voice" id="voice">
            <option value="hcm-diemmy">Diễm My (HCM)</option>
            <option value="hn-thanhtung">Thanh Tùng (Hà Nội)</option>
            <!-- Thêm các tùy chọn giọng đọc khác nếu có -->
        </select>
        <br>
        <label for="speed">Tốc độ đọc:</label>
        <input type="number" name="speed" id="speed" min="0.5" max="2" step="0.1" value="1">
        <br>
        <input type="submit" value="Chuyển đổi">
    </form>
</body>
</html>